@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&display=swap');

html, body {
  background-color: whitesmoke;
}

#app {
  margin-top: 80px;
}

#terminal {
  background-color: #2e021f;
  height: 300px;
  width: 500px;
  margin: 0 auto;
}
#terminal * {
  font-family: monospace;
}

.text-magenta {
  color: magenta;
}

.btn-magenta {
    color: #fff;
    background-color: magenta;
    border-color: magenta;
}

pre{
    white-space: pre-wrap;
}
